// Import page-specific CSS files here.
@import "home";

.browse-chefs {
  font-family: 'pacifico', cursive;
}

.chef-profile {
  font-family: 'arvo', serif;

    .chef-name {
    font-size: 24px;
    color: #051a23;
  }

  .chef-details {
    font-size: 14px;

    p {
      margin-bottom: 0px;
    }
  }

}

