

.booking {
  border: 1px solid grey;
  padding: 2em;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: 0 0 8px;
}

.avatars {
  border-radius: 20px;
}
.bookings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 30px;
}

.profile {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 2em;
  width: 40%;
  margin-bottom: 30px;
  box-shadow: 0 0 8px;
}

.profile-container {
  margin-bottom: 30px;
}

h1 {
  font-family: 'Pacifico', cursive;
}

p {
  font-family: 'arvo', serif;
}

#email {
  padding-top: 16px;
  margin-bottom: 0px;
}

.btn-info2 {
  background-color: #f4f4f4;
  color: #051a23;
  border: #051a23;
  box-shadow: 0 0 8px;
  margin-top: 0px;
  border-radius: 5px;

  &:hover {
    transform: scale(1.1);
  }
}

#review-submitted {

}

.no-decoration {
  color: #051a23;

  &:hover {
      color: #051a23;
    }
}
