@import "show-multiple-pictures";
@import "show-reviews";


.booking-form {
  #booking_date_4i {
  // display: none;
  font-size: 100px!important;
  }
}
#booking_date_5i {
display: none;
}

#chef-name {
  font-family: 'pacifico', cursive;
  font-size: 48px;
  padding-top: 16px
}

#experience {
  font-family: 'arvo', serif;
  font-size: 16px;
}

.chef-deets {
  font-family: 'arvo', serif;
  padding-top: 16px;
}

.chef-info {
  width: 25%;
}

.cloudinary-img {
  margin-top: 16px;
  border-radius: 20px;
}

.book-chef {
  font-family: 'pacifico', cursive;
  font-size: 32px;
}

.booking-form-container {
  width: 30%;
}

.chef-profile-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chef-profile {
border-radius: 20px;
}
