<h2 class="map-popup-chef"><%= chef.name %></h2>
<p id="area-popup"><em><%= chef.location %></em></p>
<p id="cuisine-popup"><strong>Cuisine(s): </strong><%= chef.cuisines %></p>
<%= link_to 'See Chef Profile', chef_path(chef), class: 'btn btn-info' %>
