<div class="big-container">
<div class="outside">
<div class="text-center">
  <h1 class="update-header mb-4">Update My Services</h1>

  <div class="services-form">
    <%= render 'form', chef: @chef %>
    <%= link_to 'Back', chef_path(@chef), class: 'btn btn-info mb-3' %>
  </div>
</div>
</div>
</div>
