<div class="text-center">
  <h1>Browse Chefs</h1>

  <div class="list-inline">
    <% @chefs.each do |chef| %>
      <%= link_to chef.name, chef_path(chef)%>
    <% end %>
  </div>

  <%= link_to 'Add Chef', new_chef_path, class: 'btn btn-info mb-2' %>

</div>
