<div class="text-center">
  <h1>Browse Chefs</h1>

  <div class="list-inline">
    <% @chefs.each do |chef| %>
      <div class="chef-profile">
        <%= cl_image_tag chef.photo.key, width: 150 %>
        <%= link_to chef.name, chef_path(chef), class: 'd-block'%>
      </div>
    <% end %>
  </div>

  <%= link_to 'Add Chef', new_chef_path, class: 'btn btn-info mb-2' %>
  <p> 'Book Chef' button</p>

</div>
