<div class="text-center">
  <h1 class="update-header mb-4">Add Your Services</h1>

  <div class="services-form">
    <%= render 'form', chef: @chef %>
    <%= link_to 'Back', chefs_path, class: 'btn btn-danger2 mt-1 mb-3' %>
  </div>
</div>
