
<div class="footer">
  <p class="text-center pt-3">AirChef © 2020</p>
  <br>
  <ul class="social">
      <li>
        <a href="https://wwww.facebook.com">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://wwww.twitter.com">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://wwww.instagram.com">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://wwww.linkedin.com">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <br>
    <br>
  <p id='authors'> Cara Bell, Lyubomir Dias, Shaun Lennon, Fernando Requeni Nacher</p>
</div>
