<%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, id: "myVideo" %>
<div id="home-banner">
  <br>
  <br>
  <h1 id="private-chef"><em>Find a Private Chef Near You</em></h1>
  <br>
  <div class="inner-banner">
    <p>Craving that dine-out experience from the comfort of your own home? <br>Our growing community of qualified chefs are ready to transform your home<br> for an evening of exquisite dining.</p>
      <p>
        <br>
       <%= link_to "Discover Chefs", "chefs", class: "btn btn-light" %>
      </p>
    </div>
</div>



