.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'arvo', serif;
}

.map-popup-chef {
  font-family: 'pacifico', cursive;
}

.mapboxgl-marker {
  height: 50px;
  width: 50px;
}

#cuisine-popup {
  margin-top: 0;
  padding-top: 0;
}

#area-popup {
  margin-bottom: 0;
}
