.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: Roboto, 600;
  font-size: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.airchef-logo {
  height: 80px;
  width: 115px;
  max-width: 100%;
}


